* {
    box-sizing: border-box;
}
  
body {
    height: 120vh;
    margin: 0;
    font-family: 'Sigmar', cursive;
    background-color: #008080;
    text-align: center;
}
  
header {
    font-size: 10vmin;
    padding: 0px;
    color: white;
    letter-spacing: 1vmin;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
section {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    background-color: blueviolet;
    padding: 2vmin;
    height: 80vmin;
    width: 80vmin;
}
  
section div {
    border: 1px solid lightgrey;
    background-color: #008080;
    flex-grow: 1;
}

section div:hover {
    border: 2px solid gray;
    transform: scale(0.98);
}


section div.rat-hidden {
    background-image: none;
}

section div.rat {
    background-image: url('../assets/rat.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

section div.trap {
    background-image: url('../assets/trap.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}