* {
    box-sizing: border-box;
}
  
body {
    height: 120vh;
    margin: 0;
    font-family: 'Sigmar', cursive;
    background-color: #008080;
    text-align: center;
}
  
header {
    font-size: 10vmin;
    padding: 0px;
    color: white;
    letter-spacing: 1vmin;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

button {
    width: 40vmin;
    height: 5vmin;
    border-radius: 5vmin;
    font-family: 'Sigmar', cursive;
    font-size: 5vmin;
    padding-bottom: 8vmin;
}

.easy {
    background-color: green;
}

.medium {
    background-color: orangered;
}

.hard {
    background-color: red;
}

button:hover {
    background-color: whitesmoke;
}

article {
    background: blueviolet;
    height: 9vmin;
    width: 80vmin;
    font-size: 4vmin;
    padding-top: 1vmin;
    border: 1px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
  
section {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blueviolet;
    padding: 2vmin;
    height: 80vmin;
    width: 80vmin;
}
  
section div {
    border: 1px solid lightgrey;
    background-color: #008080;
    text-align: center;
    font-family: 'VT323', monospace;
    float: center;
    font-size: 2vmin;
    color: purple;
    flex-grow: 1;
}

section div:hover {
    border: 2px solid gray;
    transform: scale(0.98);
}


section div.rat-hidden {
    background-image: none;
}

section div.rat {
    background-image: url('../assets/rat.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

section div.trap {
    background-image: url('../assets/trap.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.left {
    float: left;
    width: 10vmin;
    background-color: orange;
    border: 1px solid white;
}

.right {
    float: right;
    background-color: orange;
    width: 10vmin;
    border: 1px solid white;
}